.bottombar {
	position: fixed;
	left: 0;
	bottom: 0;

	background: #333;
	border: 1px solid #444;
	border-left: 0;
	border-bottom: 0;
	list-style: 0;
	margin: 0;
	padding: 0;
	display: flex;

	border-top-right-radius: 0.5em;

	> li {
		position: relative;
		display: inline-block;
		padding: 0.6em 1.2em;

		cursor: default;

		transition: background 0.2s ease-in-out, opacity 1s ease-in-out;

		&:not(:first-child) {
			border-left: 1px solid #444;
		}

		> .content {
			cursor: auto;
			min-width: 400px;
			transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
			visibility: hidden;
			opacity: 0;
			position: absolute;
			left: 0;
			bottom: calc(100% + 1px);
			background: #333;
			border: 1px solid #444;
			border-bottom: 0;
			border-radius: 0.5em 0.5em 0 0;
			display: block;

			&:not(.no-padding) {
				padding: 0.6em;
			}
		}

		&:hover {
			background: #444;

			> .content {
				opacity: 1;
				visibility: visible;
			}
		}
	}

}
