.icon {
	display: inline-block;
	width: 8px;
	height: 8px;
	image-rendering: pixelated;
	image-rendering: -moz-crisp-edges;
	image-rendering: crisp-edges;
	margin: 12px;
	transform: scale(4);
}

@mixin icon($name, $tileset, $x, $y) {
	#{".icon-" + $name} {
		background: url($tileset) #{$x * -8px } #{$y * -8px};
	}
}

@include icon("cancel", "assets/icons.png", 0, 0);
@include icon("mine", "assets/icons.png", 1, 0);
@include icon("ladder", "assets/tileset.png", 3, 0);
