.toolbox {
	list-style: none;
	padding: 0;
	margin: 0;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-items: left;
	gap: 5px;

	li {
		display: inline-block;
		list-style: none;
		padding: 0.5em;
		margin: 0;
		flex-grow: 1;
		text-align: center;
		background-color: rgba(255, 255, 255, 0.05);
		transition: background 0.1s ease-in-out;
		border-radius: 5px;

		span {
			display: block;
		}

		&:hover {
			background-color: rgba(255, 255, 255, 0.1);
		}
	}
}
