html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #000;
	overflow: hidden;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
}

#hud {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 10px;

	// Click-through...
	pointer-events: none;

	& > * {
		// ...restore click behaviour
		pointer-events: auto;
	}
}

@import "icons";
@import "BottomBar";
@import "ToolBox";
